In [23]:
import pandas as pd

# Load the data
df = pd.read_csv('../vn_index/hose_historical_data.csv')

# Remove duplicates
df.drop_duplicates(inplace=True)

# Remove the 'Change'column
df.drop(columns=['Change'], inplace=True)

# Remove rows with missing values
df.replace('---', pd.NA, inplace=True)  
df.dropna(inplace=True)

# Convert 'Date' to datetime type
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

In [24]:
df

,Date,VN-INDEX,Total Volume,Total Value,Total Foreigner Buy Volume,Total Foreigner Buy Value,Total Foreigner Sell Volume,Total Foreigner Sell Value
0,2025-04-28,1226.80,"679,789,132","14,153.00 bil","65,889,714","1,857.34 bil","58,668,763","1,853.88 bil"
1,2025-04-25,1229.23,"863,018,704","20,350.38 bil","72,203,085","2,287.75 bil","84,913,614","2,878.81 bil"
2,2025-04-24,1223.35,"798,639,130","17,662.51 bil","79,446,013","2,428.63 bil","56,395,317","1,849.57 bil"
3,2025-04-23,1211.00,"855,208,125","18,996.87 bil","69,318,424","2,110.70 bil","71,503,319","2,203.42 bil"
4,2025-04-22,1197.13,"1,702,203,585","34,118.97 bil","147,096,796","3,842.89 bil","128,015,545","3,322.11 bil"
...,...,...,...,...,...,...,...,...
4313,2007-01-10,865.71,"6,498,406",734.98 bil,"272,000",42.26 bil,"9,200",412.70 mil
4314,2007-01-09,844.91,"7,215,300",825.66 bil,"685,600",79.56 bil,"9,600",1.56 bil
4315,2007-01-08,825.11,"8,911,220","1,088.81 bil","525,000",49.90 bil,"10,300",1.55 bil
4316,2007-01-03,757.71,"4,485,494",400.70 bil,"8,000",454.25 mil,"22,000",2.55 bil
4317,2007-01-02,741.27,"3,825,510",370.82 bil,"24,600",1.43 bil,"20,000",2.10 bil

In [25]:
# Function to convert values to numeric, handling 'mil', 'bil', and commas
def convert_to_numeric(value):
    if isinstance(value, str):
        value = value.replace(',', '')  # Remove commas
        if ' bil' in value:  
            return float(value.replace(' bil', '')) * 1e9  # Convert 'bil' to numeric
        elif ' mil' in value:
            return float(value.replace(' mil', '')) * 1e6  # Convert 'mil' to numeric
    return float(value)  # Convert remaining values

In [26]:
# Apply the conversion to all relevant columns
columns_to_convert = [
    'Total Volume', 'Total Value', 'Total Foreigner Buy Volume', 
    'Total Foreigner Buy Value', 'Total Foreigner Sell Volume', 
    'Total Foreigner Sell Value'
]

for col in columns_to_convert:
    df[col] = df[col].apply(convert_to_numeric)

In [27]:
# Convert other columns to numerical types
df['VN-INDEX'] = df['VN-INDEX'].astype(float)
df.rename(columns={'VN-INDEX': 'VN_Index_Close'}, inplace=True)

df = df.sort_values('Date')

# Save the cleaned data to a new CSV file
df.to_csv('../ready_data/cleaned_vn_index_data.csv', index=False)

print("Data preprocessing completed and saved to 'cleaned_vn_index_data.csv'")

Data preprocessing completed and saved to 'cleaned_vn_index_data.csv'